image boot.vfat
{
	name = "boot"
	vfat
	{
		files =
		{
			"BOOT.BIN"
		}
	}
	size = 16M
}

image at91.img
{
	hdimage
	{
	}

	partition boot
	{
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 64M
	}

	/*
	partition rootfs
	{
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 3584M
	}
	*/
}

/*
image rootfs.ext4 {
        name = "rootfs"
        ext4 {
                label = "rootfs"
        }
        size = 3584M
        mountpoint = "/"
}
*/
